{% extends "base.html" %}
{% block content %}
<div class="container">
<h1>Nigerian Police History</h1>
<p>&nbsp;</p>
<div style="float: left; margin-right: 20px; margin-bottom: 10px;"><img class="imgborder" src="https://netstorage-legit.akamaized.net/images/f82df5f19029d110.jpg?imwidth=900" width="233" height="160" /></div>
<div>
<p id="ContentPlaceHolder1_p_History" style="text-align: justify; line-height: 1.5em;">In 1879 a 1,200-member armed paramilitary Hausa Constabulary was formed. In 1896 the Lagos Police was established. More so, the Niger Coast Constabulary, was formed in Calabar in 1894 under the newly proclaimed Niger Coast Protectorate. In the north, the Royal Niger Company set up the Royal Niger Company Constabulary in 1888 with headquarters at Lokoja.
    When the protectorates of Northern and Southern Nigeria were proclaimed in the early 1900s, part of the Royal Niger Company Constabulary became the Northern Nigeria Police, and part of the Niger Coast Constabulary became the Southern Nigeria Police. During the colonial period, most police were associated with local governments (native authorities). In the 1960s, under the First Republic, these forces were first regionalised and then nationalised. The Nigeria Police Force performed conventional police functions and was responsible for internal security generally; for supporting the prison, immigration, and customs services; and for performing military duties within or outside Nigeria as directed. Plans were announced in mid-1980 to expand the force to 200,000.
    By 1983, according to the federal budget, the strength of the NPF was almost 152,000, but other sources estimated it to be between 20,000 and 80,000. Reportedly, there were more than 1,300 police stations nationwide. Police officers were not usually armed but were issued weapons when required for specific missions or circumstances. They were often deployed throughout the country, but in 1989, well into Nigeria's second military dictatorship, Ibrahim Babangida announced that a larger number of officers would be posted to their native areas to facilitate police- community relations.</p>

</div>
</div>

{% endblock %}